<h1> <%= t "mockups.test_b.headline" %> </h1>
<p> <%= t "mockups.test_b.first_paragraph" %> </p>
<hr>
<h3>Date and Time</h3>
unformatted = <%= Time.now %><br>
strftime1 = <%= Time.now.strftime("day %d %^B %Y") %><br>
strftime2 = <%= Time.now.strftime("%A %d %^B %Y at %H:%M and %S seconds") %><br>
short =  <%= l Time.now, format: :short %><br>
long = <%= l Time.now, format: :long %><br>
<hr>
<h3>Currency / Soldi</h3>
numero non formattato = 123456789,12345<br>
numero formattato: <%= number_to_currency(123456789.12345) %><br>
numero formattato con 3 decimali: <%= number_to_currency(123456789.12345, precision: 3) %><br>
numero formattato con 4 decimali: <%= number_to_currency(123456789.12345, precision: 4) %><br>
numero formattato con 5 decimali: <%= number_to_currency(123456789.12345, precision: 5) %><br>
<p>
  <%= link_to t("mockups.test_b.link_to_english"), params.permit(:locale).merge(locale: 'en') %> |
  <%= link_to t("mockups.test_b.link_to_italian"), params.permit(:locale).merge(locale: 'it') %>
</p>
